<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>Portfolio</span>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" routerLink="/About">O mnie</mat-button-toggle>
      <mat-button-toggle value="bold" routerLink="/Projects">Moje projekty</mat-button-toggle>
      <mat-button-toggle value="bold">Kontakt</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>

</mat-toolbar>

<div class="content mat-elevation-z8">
  <router-outlet></router-outlet>
</div>

