<div>

<div class="container mat-elevation-z8">

  <div class="box">
    <div class="waves"></div>
    <div class="header">
          <img >
          <div>
            <h2>Piotr Tkaczyk</h2>
            <p>Wiek: 24 lata</p>
          </div>
   </div>
  </div>

  <div class="block-box">
  <div class="block first">
    <h2>Informacje</h2>
    <br>
    <p>Jestem absolwentem studiów Inżynierskich na Politechniki Świętokrzyskiej w Kielcach na kierunku Informatyka, specjalizacja Systemy informacyjne.
      Od ponad 3 lat zajmuje sie nauką wielu języków programnowania w tym C/C#, Java, Javascript. Jestem osoba ambitną, sumienną i pracowitą.
      Potrafię rozwiązywać złożone problemy informatyczne. Dodatkowo Podczas studiów zdobyłem obszerną wiedzę z zakresu relacyjnych baz danych, języka SQL,
      programowania współbieżnego, sztucznych sieci neuronowych, uczenia maszynowego, podstaw grafiki komputerowej itp.
    </p>
    <p>
      Aktualnie zajmuje sie rozwojem i nauką frameworków Angular i React wykonując proste projekty.
      Dodatkowo doszkalam sie w języku programowania Java oraz framework Spring Boot 3.
    </p>


  </div>
  <div class="block second">
    <h2>Umiejętności</h2>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">Języki programowania</p>
    <ul class="skills">
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>C/C#</li>
      <li>Java</li>
      <li>SQL</li>
    </ul>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">Frameworki i technologie</p>
    <ul class="skills">
      <li>HTML/CSS</li>
      <li>React</li>
      <li>Angular</li>
      <li>Spring Boot</li>
      <li>JPA</li>
      <li>Maven</li>
      <li>Hibernate</li>
      <li>Rest API</li>
    </ul>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">Narzędzia</p>
    <ul class="skills">
      <li>IntelliJ</li>
      <li>VS Code</li>
      <li>Git</li>
      <li>PostgreSQL</li>
      <li>Postman</li>
    </ul>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">Języki</p>
    <ul class="skills">
      <li>Angielski</li>
      <li>Polski</li>
    </ul>
  </div>
  <div class="block third">
    <h2>Doświadczenie</h2>
    <br>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">Lipiec 2022 - Praktyki studenckie w firmie President Studio</p>
    <br>
    <p>Podczas praktyk zdobywałem wiedzę na temat silnika graficznego Unity oraz języka C#. Testowałem gry poszukując błędów na etapie post-produkcji.
      Pomagałem w produkcji gier, w których tworzyłem proste funkcjonalności oprogramowania.
    </p>

    <p style="color: rgb(247, 195, 98); font-weight: bold;">Lipiec 2021 - Staż w firmie ArtexIT</p>
    <br>
    <p>Podczas stażu wykonywałem na zlecenie opiekuna program, który miał za zadanie usprawnić działanie wyszukiwanie konkretnych elementów w systemie.
      Również pomagałem w pisaniu plików XML oraz w tworzeniu oprogramowania w ASP.NET/C#.
    </p>

    <p style="color: rgb(247, 195, 98); font-weight: bold;">Październik 2017 - Praktyki zawodowe w firmie COM-SERWIS II.</p>
    <br>
    <p>
      Podczas praktyk odpowiadałem za konfigurację sprzętu komputerowego zgodnie z potrzebami użytkowania.
      Diagnozowałem i usuwałem awarie sprzętu komputerowego, zajmowałem się instalowaniem urządzeń peryferyjnych, programów systemowych i użytkowych.</p>
  </div>
  <div class="block fourth">
    <h2>Wykształcenie</h2>
    <br>
    <p style="color: rgb(247, 195, 98); font-weight: bold;">10.2019 - 03.2023</p>
    <p>Politechnika Świętokrzyska w Kielcach, na kierunku Informatyka i specjalizacji Systemy Informacyjne.</p>
    <br>
    <p style="color: rgb(247, 195, 98); font-weight: bold;" >09.2015 - 04.2019</p>
    <p>Zespół Szkół Elektronicznych im. Bohaterów Westerplatte w Radomiu, na profilu Technik Informatyk. </p>
    <br>
    <p style="color: rgb(247, 195, 98); font-weight: bold;" >Kursy:</p>
    <p>Cisco IT Essentials</p>
    <p>Cisco CCNA Routing and Switching</p>

  </div>
  </div>
</div>
</div>
