
<div id="home">
  <div class="home-video-container scrollme" style="position: relative;z-index: 1;height: 590px;">
    <div class="home-content">
          <h2> </h2>
          <div class="right-box"></div>
          <div class="left-box"></div>
          <div class="container-fluid">
            <div class="container-person">
              <div class="person-box">
                
              </div>
              <div class="person-content">
               
              </div>
            </div>
          </div>
    </div>
    <span class="scroll-btn" (click)="scrollToNextSection()">
      <span class="scroll-btn__icon">&#x25BC;</span>
    </span>
    
  </div>
  
  <div class="content-area">
    <main class="site-main">
      <section class="home-s1 scrollme" style="height: 754px;" > </section>
      <section class="home-s2 scrollme" style="height: 754px;" > </section>
      <section class="home-s3 scrollme" style="height: 754px;" > </section>
    </main>
  </div>  
<div>