
<div id="home">
  <div class="home-video-container scrollme" style="position: relative; z-index: 1;">
    <div class="home-content">
          
          <div class="right-box"></div>
          <div class="left-box"></div>
          <div class="container-fluid">
              <div class="person-box">
                <div class="col-lg-7">
                  <div class="s1-header wow scaleIn animated" style="visibility: visible;">
                  <img src="assets/img/foto.jpg" alt="" width="200" height="200">
                  <div class="iin">
                    <h5>Piotr Tkaczyk</h5>
                    <p>Wiek: 24 lata</p>
                    <p>Miejscowość: Radom</p>
                  </div>
                </div>
              </div>
                <div class="col-lg-7">
                  <div class="person-info">
                    <h4>Informacje</h4>
                    <p>Jestem absolwentem studiów inżynierskich na Politechniki Świętokrzyskiej w Kielcach na kierunku Informatyka, specjalizacja Systemy Informacyjne.
                      Od ponad 3 lat zajmuje sie nauką wielu języków programnowania w tym C/C#, Java, Javascript. Jestem osoba ambitną, sumienną i pracowitą.
                      Potrafię rozwiązywać złożone problemy informatyczne. Podczas studiów zdobyłem obszerną wiedzę z zakresu relacyjnych baz danych, języka SQL,
                      algorytmów, i struktur danych, programowania współbieżnego, sztucznych sieci neuronowych, podstaw grafiki komputerowej itp.
                    </p>
                    <p>
                      Aktualnie zajmuje sie rozwojem i nauką frameworków Angular i React wykonując proste projekty.
                      Dodatkowo dokształcam sie w języku programowania Java oraz framework Spring Boot 3.
                    </p>
                </div>
                </div>
              </div>
              <div class="person-box">
                <div class="col-lg-4">
                  <a href="#" class="btn btn-primary">GITHUB</a>
                  <a href="#" class="btn btn-primary">LINKEDIN</a>
                  <a href="#" class="btn btn-primary">EMAIL</a>
                </div>
              </div>
          </div>
    </div>
    <span class="scroll-btn" (click)="scrollToNextSection()">
      <span class="scroll-btn__icon">&#x25BC;</span>
    </span>
    
  </div>
  
  <div class="content-area">
    <main class="site-main">
      <section class="home-s1 scrollme"  >
        
      </section>
      <section class="home-s2 scrollme" > </section>
      <section class="home-s3 scrollme" > </section>
    </main>
  </div>  
<div>