
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  box-shadow: 0px 0px 0px 0px ;
  width: 70vw;
  height: auto;
  margin:auto;
}

.block {
  width: 45%;

  margin-bottom: 16px;
  padding: 16px;

  border-radius: 10px;
  background-color: #0c315f;
  box-shadow: 0px 0px 20px #0a1029;
}

.block h2 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.block-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.box {
  background-color: #0c315f;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 20%;
  overflow: hidden;
  box-shadow: 0px 0px 20px #0a1029;
  z-index: 1;
}

.header{
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0;
}

.header h2{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.header p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.waves {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(47, 52, 95, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -70vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(18, 45, 71, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background:rgba(18, 45, 71, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


.skills{
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;


}

.skills li{
  width: 17%;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #4159d000;
  background-image: linear-gradient(43deg,#4159d04f,#c850c050 46%,#ffcd7050);
  box-shadow: var(--shadow-elevation-low);
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.block p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

img{
  border-radius: 50%;
}





