@media (max-width: 1600px){
.container-fluid {
    max-width: 1240px;
}}

.container-fluid {
  max-width: 1500px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (max-width: 1200px){
.home-video-container {
    height: 660px;
    height: 100vh;
    max-height: 650px;
}
}

@media (max-width: 1300px){
.home-video-container {
    height: 660px;
    height: 100vh;
}
}

@media (max-width: 1600px){
.home-video-container {
    height: 720px;
    height: 100vh;
}
}

.home-video-container {
  display: block;
  width: 100%;
  height: 900px;
  height: 80vh;
}

.home-content{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #444;
}

.home-video-container .scroll-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}


.scroll-btn:hover {
  background-color: #000;
  color: #fff;
}

.scroll-btn__icon {
  font-size: 20px;
  line-height: 1;
  color: #fff;
}


.scrollme {
  opacity: 2;
  transition: all 0.5s ease-in-out;
}

.scrollme.active {
  opacity: 3;
  transform: translateY(0);
}
/*
.container-person{
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-box {
  text-align: center;
  margin: 2%;
}
.person-box h2{
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.person-box p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

.person-content{
  left: 80%
}
.person-content p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}
img{
  border-radius: 50%;
  margin: 2%;
}
*/

@media (max-width: 1300px){
.home-s1 {
    padding: 80px 30px;
}}

@media (max-width: 1600px){
.home-s1 {
    padding: 80px 0;
}}

.home-content{
    padding: 100px 0;
    padding-top: 40px;
    overflow: hidden;
    position: relative;
    background-color: #524952;
    display: block;
    width: 100%;
}


.right-box{
  display: block;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-color: #545561;
}


@media (max-width: 991px){
.home-content>.right-box {
    height: 60%;
    overflow: hidden;
}}

@media (max-width: 767px){
  .home-content>.right-box {
    left: 40%;
    width: 60%;
}}

@media (max-width: 575px){
  .home-content>.right-box {
    display: none;
}}


.home-content>.left-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 300px;
  background: #5C5453;
}

@media (max-width: 1600px){
.home-content>.left-box {
  width: 45%;
  height: 370px;
}}

  
@media (max-width: 991px){
  .home-content>.left-box  {
    width: 65%;
  }}

@media (max-width: 767px){
  .home-content>.left-box  {
    width: 80%;
  }}

@media (max-width: 575px){
  .home-content>.left-box {
    width: 100%;
    height: 40%;
  }}

.scaleIn.animated {
  visibility: visible;
  -webkit-transform: translateY(0)s;
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 1s cubic-bezier(.6,.2,.1,1) .8s,opacity 1s cubic-bezier(.6,.2,.1,1) .8s;
  transition: transform 1s cubic-bezier(.6,.2,.1,1) .8s,opacity 1s cubic-bezier(.6,.2,.1,1) .8s;
  display: flex;
  align-items: center;
}

.person-box{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}



.col-lg-7{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}


@media (min-width: 992px){
.col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 45.333333%;
    max-width: 58.333333%;
}}

@media (max-width: 992px){
.person-info {
    margin-top: 30%;
}}

@media (max-width: 767px){
.person-info {
   margin-top: 40%;
}}

@media (max-width: 575px){
.person-info {
  margin-top: 50%;
}}

img{
  border-radius: 50%;
  box-shadow: 0 0 5px;
}

.col-lg-7 h4 {
  color: rgba(205, 194, 194, 0.3);
  line-height: 1.15;
  font-weight: 400;
  font-family: 'Alata',sans-serif;
  font-size: 1.777em;
  clear: both;
}

.col-lg-7 p{
  color: white;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Alata',sans-serif;
  text-align: justify;
  line-height: 1.5;
}

.iin {
  margin-left: 5%;
}

.iin p{
  color: white;
}

h5{
  line-height: 1.15;
  font-weight: 400;
  font-family: 'Alata',sans-serif;
  font-size: 1.333em;
  clear: both;
  color: white;
}

.btn-primary {
  font-family: 'Alata',sans-serif;
  position: relative;
  margin: 2%;
  background: 0 0;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 0;
  border: 2px solid #ccc;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover{
  padding: 0.8rem 2.2rem;
  font-weight: 400;
  font-size: 13px;
  border: none;
  position: relative;
  background: #864a2c;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




.col-lg-4{
  position: relative;
  height: 150px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px){
.col-lg-4 {
      flex: 0 0 auto;
      width: 20%;  
}}

@media (max-width: 992px){
.col-lg-4 {
        flex: auto;
        width: 20%;  
  }}



@media (max-width: 1300px){
  .home-s1 {
      padding: 80px 30px;
  }
  }
  @media (max-width: 1600px){
  .home-s1 {
      padding: 80px 0;
  }
  }
  
  .home-s1 {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    display: block;
    width: 100%;
  }
  
  .home-s2 {
    position: relative;
  }
  
  @media (max-width: 1300px){
  .home-s3 {
      padding-left: 30px;
  }}
  .home-s3 {
    padding-top: 200px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    background-position: bottom left;
    background-repeat: no-repeat;
  }


