
<div id="home">
  <div class="home-video-container scrollme" style="position: relative; z-index: 1;">
    <div class="home-content">
          
          <div class="right-box"></div>
          <div class="left-box"></div>
          <div class="container-fluid">
              <div class="person-box">
                <div class="col-lg-7">
                  <div class="s1-header wow scaleIn animated" style="visibility: visible;">
                  <img src="assets/img/foto.jpg" alt="" width="200" height="200">
                  <div class="iin">
                    <h5>Piotr Tkaczyk</h5>
                    <p>Wiek: 24 lata</p>
                    <p>Miejscowość: Radom</p>
                  </div>
                </div>
              </div>
                <div class="col-lg-7">
                  <div class="person-info">
                    <h4>Informacje</h4>
                    <p>Jestem absolwentem studiów inżynierskich na Politechniki Świętokrzyskiej w Kielcach na kierunku Informatyka, specjalizacja Systemy Informacyjne.
                      Od ponad 3 lat zajmuje sie nauką wielu języków programnowania w tym C/C#, Java, Javascript. Jestem osoba ambitną, sumienną i pracowitą.
                      Potrafię rozwiązywać złożone problemy informatyczne. Podczas studiów zdobyłem obszerną wiedzę z zakresu relacyjnych baz danych, języka SQL,
                      algorytmów, i struktur danych, programowania współbieżnego, sztucznych sieci neuronowych, podstaw grafiki komputerowej itp.
                    </p>
                    <p>
                      Aktualnie zajmuje sie rozwojem i nauką frameworków Angular i React wykonując proste projekty.
                      Dodatkowo dokształcam sie w języku programowania Java oraz framework Spring Boot 3.
                    </p>
                </div>
                </div>
              </div>
              <div class="person-box">
                <div class="col-lg-4">
                  <a href="#" class="btn btn-primary">GITHUB</a>
                  <a href="#" class="btn btn-primary">LINKEDIN</a>
                  <a href="#" class="btn btn-primary">EMAIL</a>
                </div>
              </div>
          </div>
    </div>
    <span class="scroll-btn" (click)="scrollToNextSection()">
      <span class="scroll-btn__icon">&#x25BC;</span>
    </span>
    
  </div>
  
  <div class="content-area">
    <main class="site-main">
      <section class="home-s1 scrollme">
        <div class="container-fluid">
          <div class="skills-content">
            <h2>Umiejętności</h2>
            <div class="row">
              <div class="col-lg-5">
                <h3>Języki programowania</h3>
                <ul class="skills">
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>C/C#</li>
                  <li>Java</li>
                  <li>SQL</li>
                </ul>
              </div>
              <div class="col-lg-5">
                <h3>Frameworki i technologie</h3>
                <ul class="skills">
                  <li>HTML/CSS</li>
                  <li>React</li>
                  <li>Angular</li>
                  <li>Spring Boot</li>
                  <li>JPA</li>
                  <li>Maven</li>
                  <li>Hibernate</li>
                  <li>Rest API</li>
                </ul>
              </div>
              <div class="col-lg-5">
                <h3>Narzędzia</h3>
                <ul class="skills">
                  <li>IntelliJ</li>
                  <li>VS Code</li>
                  <li>Git</li>
                  <li>PostgreSQL</li>
                  <li>Postman</li>
                </ul>
              </div>
              <div class="col-lg-5">
                <h3>Języki</h3>
                <ul class="skills">
                  <li>Angielski</li>
                  <li>Polski</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-s2 scrollme" > 
        <div class="container-fluid">
          <div class="experience-content">
            <div class="row">
              <div class="col-lg-8">
                <h3>Doświadczenie</h3>
                <h4>Lipiec 2022 - Praktyki studenckie w firmie President Studio</h4>
                <p>Podczas praktyk zdobywałem wiedzę na temat silnika graficznego Unity oraz języka C#. Testowałem gry poszukując błędów na etapie postprodukcji.
                  Pomagałem w produkcji gier, w których tworzyłem proste funkcjonalności oprogramowania.
                </p>
                <h4>Lipiec 2021 - Staż w firmie ArtexIT</h4>
                <p>Podczas stażu wykonywałem na zlecenie opiekuna program, który miał za zadanie usprawnić działanie wyszukiwanie konkretnych elementów w systemie.
                  Również pomagałem w pisaniu plików XML oraz w tworzeniu oprogramowania w ASP.NET/C#.
                </p>
                <h4>Październik 2017 - Praktyki zawodowe w firmie COM-SERWIS II.</h4>
                <p>
                  Podczas praktyk odpowiadałem za konfigurację sprzętu komputerowego zgodnie z potrzebami użytkowania.
                  Diagnozowałem i usuwałem awarie sprzętu komputerowego, zajmowałem się instalowaniem urządzeń peryferyjnych, programów systemowych i użytkowych.
                </p>
              </div>
              <div class="col-lg-8">
                <h3>Wykształcenie</h3>
                <h4>10.2019 - 03.2023</h4>
                <p>Inżynier</p>
                <p>Politechnika Świętokrzyska w Kielcach na kierunku Informatyka, specjalizacja Systemy Informacyjne.</p>
                <h4>09.2015 - 04.2019</h4>
                <p>Zespół Szkół Elektronicznych im. Bohaterów Westerplatte w Radomiu, na profilu Technik Informatyk. </p>
                <h4>Kursy</h4>
                <p>Cisco IT Essentials</p>
                <p>Cisco CCNA Routing and Switching</p>    
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </main>
  </div>  
<div>