
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  box-shadow: 0px 0px 0px 0px ;
  width: 80vw;
  height: auto;
  margin:auto;
}

.box {
  background-color: #0c315f;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 20px #0a1029;

}

.header{
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0;
}

.header h2{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.info{
  width: 40%;
  margin: 1rem;
  float: left;
}
.info2{
  width: 100%;
  margin: 1rem;
  float: left;
}
.info2 p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

.info p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

.image {
  width: 50%;
  float: left;
  margin: 1rem;
  margin-left: 5%;
  height: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 20px #0a1029;

}



.btn.float-right {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

.btn.float-left {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:hover::after {
  content: '';
  background: url('https://cdn-icons-png.flaticon.com/512/545/545651.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
