.header{
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 4rem;
  gap: 1rem;
  border: 0;

}

.header h2{
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header p{
  color: white;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  box-shadow: 0px 0px 0px 0px ;
  width: 70vw;
  height: auto;
  margin:auto;
}

.btn{
  background-color: transparent;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  cursor: pointer;
  transition: .1s;
  font-weight: 700;
  position: relative;
  color: var(--font-primary);
  margin-left: 1%;
  text-decoration: none;


}

.btn:hover{
  background-color: aquamarine;
}


.box {
  background-color: #0c315f;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 20%;
  box-shadow: 0px 0px 20px #0a1029;

}
