
<div class="container mat-elevation-z8">
  <div class="box">
    <div class="header">
      <h2>System sprzedaży biletów kolejowych [React + Spring Boot + PostgreSQL]
          <button mat-fab extended color="primary" onClick="window.open('https://github.com/TkaczykPiotr/TrainApp')">
            Link to the project
          </button>
      </h2>

    </div>
    <div class="info">

      <p>
        System został stworzony wykorzystując wzorzec MVC. Do wykonania aplikacji internetowej wykorzystano framework React.
        Za część funkcjonalną odpowiedzialny jest framework Spring Boot wraz z bazą danych PostgreSQL. Funkcjonalności wystepujące w systemie:
      </p>
      <p>- Logowanie i rejestracja użytkowników</p>
      <p>- Logowanie administratora</p>
      <p>- Dodawanie połączeń kolejowych do systemu (tylko administrator)</p>
      <p>- Zmiana hasła</p>
      <p>- Wyszukiwanie połączeń kolejowych</p>
      <p>- Wyswietlanie połączeń kolejowych</p>
      <p>- Zakup biletów wraz z wyborem miejsc i ulgi</p>
      <p>- Płatności</p>
      <p>- Wyswietlanie i pobieranie zakupionych biletów</p>
    </div>
    <div class="image">
      <button mat-fab color="primary"  (click)="previousImageProjectOne()" class="btn float-left">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <img [src]="currentImageOne" />
      <button mat-fab color="primary" (click)="nextImageProjectOne()" class="btn float-right">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

  </div>
  <div class="box">
    <div class="header">
      <h2>System sprzedaży biletów autobusowych [Angular + Firebase] (nadal rozwijany)
        <button mat-fab extended color="primary" onClick="window.open('https://github.com/TkaczykPiotr/BusApp')">
          Link to the project
         </button>
      </h2>
      </div>
         <div class="info">
           <p>Do wykonania aplikacji internetowej wykorzystano framework Angular, w którym również wykonano wszystkie niezbędne funkcjonalności.
            Funkcje bazy danych pełni tutaj narzędzie Firebase. Funkcjonalności wystepujące w systemie:
           </p>
           <p>- Logowanie i rejestracja użytkowników</p>
           <p>- Wyszukiwanie połączeń autobusowych</p>
           <p>- Wyswietlanie połączeń autobusowych</p>
           <p>- Zapisywanie danych osobowych potrzebnych do zakupu</p>
           <p>- Zakup biletu jednorazowego jak również miesięcznego na dane na połączenie kolejowe</p>
           <p>- Wyswietlanie zakupionych biletów</p>
           <p>- Pobieranie biletów wraz z kodem QR</p>
         </div>
         <div class="image">
          <button mat-fab color="primary"  (click)="previousImageProjectTwo()" class="btn float-left">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <img [src]="currentImageTwo" />
          <button mat-fab color="primary" (click)="nextImageProjectTwo()" class="btn float-right">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
  </div>
  <div class="box">
    <div class="header">
      <h2>Gra przeglądarkowa Football Manager [React]
        <button mat-fab extended color="primary" onClick="window.open('https://github.com/TkaczykPiotr/footboalManager')">
          Link to the project
         </button>
      </h2>
      </div>
         <div class="info">
           <p>Do wykonania aplikacji internetowej wykorzystano framework React. Jest to gra singleplayer, pozwalająca wcielić się w menagera piłkarskiego
            i prowadzic wybraną drużynę w lidze hiszpańskiej. Funkcjonalności wystepujące w grze:
           </p>
           <p>- Wybieranie drużyny</p>
           <p>- Wyswietlanie informacji o drużynie</p>
           <p>- Wyświetlanie zawodników wraz z ich właściwościami</p>
           <p>- Zmiana systemu gry i zawodników</p>
           <p>- Zakup i sprzedaż zawodników naszej drużyny</p>
           <p>- Trening poszczególnych zawodników</p>
           <p>- Wyświetlanie tabeli wyników drużyn w lidze</p>
           <p>- Wyświetlanie statystyk z meczów</p>
           <p>- Strona pomocy dla gracza</p>
           <p>- Gra: rozpoczynanie i zatrzymywanie gry, wyświetlanie wyniku oraz czasu, zmiana systemu i graczy podczas gry, wyświetlanie na bierząco statystyk z meczu</p>
         </div>
         <div class="image">
          <button mat-fab color="primary"  (click)="previousImageProjectThree()" class="btn float-left">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <img [src]="currentImageThree" />
          <button mat-fab color="primary" (click)="nextImageProjectThree()" class="btn float-right">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
  </div>

  <div class="box">
    <div class="header">
      <h2>Inne mniejsze projekty które wykonywałem sam lub w zespole:</h2>
      </div>
         <div class="info">
          <p>Gra multiplayer bomberman [Java + Java Swing]</p>
          <p>System na potrzeby firmy kurierskiej [Java + PostgreSQL + JavaFX]</p>
          <p>Symulacja pracy autonomicznego odkurzacza sprzątającego [Unity + C#]</p>
         </div>

  </div>

</div>
