
.container-fluid{
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

/* .header-row-2 {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header-row-2.header-up {
  margin-top: -300px;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.header-row-2.header-down {
  margin-top: 0;
  background-color: transparent;
  background-image: linear-gradient(180deg,#000 0%,rgba(0,0,0,.1) 100%);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s
} */


.bg-dark {
  background-color: #444 !important;
}

.navbar-collapse{
  justify-content: center;
}

.m-auto {
  margin: auto !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Alata',sans-serif;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  padding: 2.4em 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #bc06b0;
}

.content{
  background: #444;
  padding: 5%;
 
}

.bg-footer{
  background-color: #071b33;
}

.footer-widgets {
  padding: 8.3em 0 0;
}

.row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}

