
.container-fluid{
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.bg-dark {
  background-color: #444 !important;
}

.navbar-collapse{
  justify-content: center;
}

.m-auto {
  margin: auto !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Alata',sans-serif;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  padding: 2.4em 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #bc06b0;
}

.content{
  background: #444;
  padding: 5%;
 
}

.bg-footer{
  background-color: #071b33;
}

.footer-widgets {
  padding: 8.3em 0 0;
}

.row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}