mat-toolbar {
  background: #021429;
  color: white;

}

mat-button-toggle-group{
  border: none;
  margin-left: auto;
  
}
mat-button-toggle-group .mat-button-toggle {
  border-left: none;
  color: white;
  
}
mat-button-toggle:hover {
  background-color: #405a63;
}

mat-button-toggle.active {
  background-color: #405a63;
}


mat-button-toggle{
  margin-left: 1em;
  background: #021429;
  color: white;
  border-radius: 10px;

}

.content{
  background: #071b33;
  min-height: 150vh;
  max-height: 300vh;

  padding: 5%
}
